%h1 Editing Add Quantity To Line Item
= render 'form', add_quantity_to_line_item: @add_quantity_to_line_item
= link_to 'Show', @add_quantity_to_line_item
|
= link_to 'Back', add_quantity_to_line_items_path
