<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @add_quantity_to_line_item.quantity %>
</p>

<%= link_to 'Edit', edit_add_quantity_to_line_item_path(@add_quantity_to_line_item) %> |
<%= link_to 'Back', add_quantity_to_line_items_path %>
