%div.container
  %h1.title Novo Produto
  = form_with(model: product, local: true) do |f|
    -if product.errors.any?
      %article.message 
        %div.message-header
          %h2
            -pluralize(@product.errors.count, "error")
            Produdo não pode ser criado:
        %div.message-body
          %ul
            -product.errors.full_messages.each do |message|
              %li= message 
    %div.field
      %f.label Titulo
      %div.control.has-icons-right
        =f.text_field(:title, class: "input is-large")
        /
          %span.icon.is-small.is-right
            %i.fas.fa-check.fa-xs

    %div.field
      %f.label  Descrição
      - if product.description == nil || product.description == ""  
        =f.text_area(:description, class: "textarea")
      - else
        - texto = product.description.gsub(/((<|<\/)(\w+)(>))/){""}.strip
        =f.text_area :description, :value => texto, :class => "textarea"
    
    %div.field
      %f.label Link para imagem
      %div.control
        =f.text_field(:image_url, class: "input")
  
    %div.field
      %f.label Preço do livro
      %div.control
        =f.text_field(:price, class: "input")
    /
      TODO: Como posso definir um condição pelo método se é post ou patch para definir o botão

    - if product.description == nil || product.description == ""    
      =f.submit("Criar Produto", class:"button button is-info is-outlined mt-3")
    - else
      =f.submit("Modificar Produto", class:"button button is-info is-outlined mt-3")

    %div.buttons.mt-4
      %button.button
        = link_to 'Back', products_path