=image_tag 'logo2.png', alt: 'The Pragmatic Bookshelf'
.title 
 
#columns
  #side
    %ul
      %li
        = link_to 'Home', "#"
      %li
        = link_to 'Questions', "#"
      %li
        = link_to 'News', '#'
      %li
        =link_to 'Contact',  '#'
      
      